body {
  background-image: url(bg.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}
svg {
  width: 70%;
}

 #left {
  animation: anim 1s ease infinite alternate-reverse;
  transform-origin: center;
  transform-box: fill-box;
}

#right {
  animation: anim 1s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#up-code {
  animation: animm 1s ease-in-out infinite alternate-reverse;
  transform-origin: center;
  transform-box: fill-box;
}

#down-code {
  animation: animm 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}


#tree {
  animation: anim1 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes anim {
  form {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(50deg);
  }
}

@keyframes animm {
  form {
    transform: skewX(0deg);
  }

  to {
    transform: skewX(20deg);
  }
}

@keyframes anim1 {
  form {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(60deg);
  }
}
